@*
	Essa partial view depende dos seguintes arquivos:
	- image-upload-widget.js, localizado em wwwroot/js/components
	- image-upload-widget.css, localizado em wwwroot/css/components
*@
<button type="button" class="add-image btn btn-primary my-2" onclick="addImage()">Adicionar</button>

<div id="inputs" class="d-none"></div>
<div class="preview" id="preview"></div>