


<h1>Página do admin</h1>

<h3>Car</h3>
<br />
<a asp-area="Admin" asp-controller="AdminCar" asp-action="ListCars">List car</a>
<br />
<a asp-area="Admin" asp-controller="AdminCar" asp-action="Add">Add car</a>
<br />
<hr />
<br />
<h3>Carousel</h3>
<a asp-area="Admin" asp-controller="AdminCarousel" asp-action="ListCarousels">List Carousels</a>
<br />
<a asp-area="Admin" asp-controller="AdminCarousel" asp-action="Create">Create Carousel</a>
