@model Carousel;

@section Styles {
	<link rel="stylesheet" href="~/css/components/add-slide.css" />
}

<div class="container">
	<br />
	<h1>Criar Carousel</h1>
	<br />
	<form class="form-group" asp-controller="AdminCarousel" asp-action="Create" method="post">
		<div class="row align-items-center justify-items-center">
			<div class="col-5">
				<label asp-for="Title">Título</label>
				<input class="form-control" asp-for="Title" id="carouselTitle" />
				<span class="text-danger" asp-validation-for="Title"></span>
			</div>
			<div class="col-4">
				<label asp-for="Position">Posição</label>
				<br />
				<select id="carouselPosition" class="form-select" asp-for="Position">
					@{
						if (TempData["TotalCarousels"] != null)
						{
							int positions = (int)TempData["TotalCarousels"];
							positions++;

							for (int i = 1; i <= positions; i++)
							{
								<option value="@i">@i</option>
							}
						}
					}
				</select>
			</div>
			<div class="col-3">
				<input class="form-check-input" id="carouselIsVisible" type="checkbox" asp-for="IsVisible" />
				<label asp-for="IsVisible">É visível</label>
			</div>

		</div>

		<br />

		<a class="btn btn-outline-primary" onclick="openSlideForm()">Adicionar slides</a>
		<br />
		<br />

		<h4>Slides</h4>
		<div class="row">
			<div id="slidesArea" class="slides-area">
				<textarea id="slidesDataInput" name="jsonSlides"></textarea>
			</div>
		</div>
		<br />
		<div class="d-flex justify-content-end gap-3 me-5">
			<a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Index">Voltar</a>
			<button id="createCarouselButton" type="submit" class="btn btn-success" disabled>Criar</button>
		</div>		
	</form>

	@await Html.PartialAsync("_AddSlide")
</div>

<script src="~/js/components/add-slide.js"></script>

