@using CarQuery.ViewModels.AccountViewModels
@model LoginViewModel

@section Styles {
	<style>
		.login-form {
			color: white;
			border-radius: 10px;
			margin-top: 5%;
		}
	</style>
}

<form class="login-form col-10 col-lg-4 mx-auto py-4 bg-dark d-flex justify-content-center" asp-controller="Account" asp-action="Login" method="post">
	<div class="col-10">
		<h3>Login</h3>
		<div class="form-group">
			<label asp-for="Email"></label>
			<input class="form-control" asp-for="Email" type="email" />
			<span class="text-danger" asp-validation-for="Email"></span>
		</div>
		<br />
		<div class="form-group">
			<label asp-for="Password"></label>
			<input class="form-control" asp-for="Password" type="password" />
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>
		<br />

		<p class="text-danger">@TempData["ErrorMessage"]</p>
		<button class="btn btn-success">Entrar</button>
	</div>
</form>

