@using CarQuery.ViewModels.AccountViewModels
@model RegisterViewModel

@section Styles {
	<style>
		form {
			color: white;
			border-radius: 10px;
			margin-top: 5%;
		}

		.text-danger ul {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
		}
	</style>
}

<form class="col-10 col-lg-4 mx-auto py-4 bg-dark d-flex justify-content-center" asp-controller="Account" asp-action="Register" method="post">
	<div class="col-10">
		<h3>Registrar administrador</h3>
		<div class="form-group mt-3">
			<label asp-for="UserName" class="form-label"></label>
			<input class="form-control" asp-for="UserName" placeholder="Ex: João Paulo" />
			<span class="text-danger" asp-validation-for="UserName"></span>
		</div>
		<div class="form-group mt-2">
			<label asp-for="Email" class="form-label"></label>
			<input class="form-control" asp-for="Email" type="email" placeholder="Ex: joaopaulo@gmail.com" />
			<span class="text-danger" asp-validation-for="Email"></span>
		</div>
		<div class="form-group mt-2">
			<label asp-for="Password" class="form-label"></label>
			<input class="form-control" asp-for="Password" type="password" placeholder="Informe uma senha" />
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>
		<div class="form-group mt-2 mb-2">
			<label asp-for="ConfirmPassword" class="form-label"></label>
			<input class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Confirme a senha" />
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
		</div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<button class="btn btn-success mt-3 me-1 d-block ms-auto px-3">Registrar</button>
	</div>
</form>

